font = {
    extra-small: 8px,
    small: 11px,
    normal: 14px,
    big: 18px,
    extra-big: 21px,
    button: 16px,
    icon: 30px,
    menu: 40px,
}

icon = {
    small: {
        font: 16px,
        width: 30px,
        height: 30px,
    },
    normal: {
        font: 30px,
        width: 50px,
        height: 50px,
    },
    big: {
        font: 50px,
        width: 100px,
        height: 100px
    }
}

color = {
    white: #fff,
    gray: #333,
    blue: {
        normal: #1f408a,
        hover: #3458a7,
        active: #15306b
    },
    red: {
        normal: #bd001c,
        hover: #d71733,
        active: #b20821
    }
}

transitions = {
    slow: all 0.5s ease-in,
    normal: all 0.3s ease
}

border = {
    white: {
        solid: 1px solid #fff,
        dashed: 1px dashed #fff,
        dotted: 1px dotted #fff,
    },
    blue: {
        solid: 1px solid #1f408a,
        dashed: 1px dashed #1f408a,
        dotted: 1px dotted #1f408a,
    },
    red: {
        solid: 1px solid #bd001c,
        dashed: 1px dashed #bd001c,
        dotted: 1px dotted #bd001c,
    }
}

radius = {
    none: 0px,
    normal: 5px,
    normal-bottom: 5px 5px 0 0,
    normal-top: 0 0 5px 5px,
    round: 50%,
}

shadow = {
    normal: 0px 0px 15px #000,
}

data = {
    normal: {
        width: 100px,
        height: 100px
    }
}