<div class="data__controls">
	<div class="breakConnection icon"
		 (click)="deleteParent($event)">
		<i class="fa fa-chain-broken breakConnection_icon" 
		   aria-hidden="true"></i>	 				
	</div>
	<div class="deleteData icon"
		 (click)="deleteData(dataItem)">
		<i class="fa fa-trash-o deleteData_icon" 
		   aria-hidden="true"></i>	
	</div>
	<div class="addChild icon"
		 (click)="createChild()">
		<i class="fa fa-plus addChild_icon" 
		   aria-hidden="true"></i>	
	</div>
	<div class="selectParent icon"
		 (click)="showParentList = !showParentList">
		<i class="fa fa-code-fork selectParent_icon" 
		   aria-hidden="true"></i>	
	</div>
	<div class="parentList"
		 [class.visible]="showParentList">
		<span>Выбор родителя</span>
		<select [(ngModel)]="dataItem.parent"
				(change)="showParentList = !showParentList">
			<option value="">Не выбран</option>
			<ng-template ngFor 
						 let-item 
						 [ngForOf]="dataList">
				<option *ngIf="item !== dataItem" [value]="item.id">{{item.name}}</option>
			</ng-template>
		</select>
	</div>	
</div>
<div class="backdrop"
	 (mousedown)="watchOpen($event)"
	 (mouseup)="resolveOpen($event)">
	<div class="backdrop__name">{{dataItem.name}}</div>
</div>
<div class="content">
	<div class="content__approve"
		 (click)="approve()">
		<i class="fa fa-check content__approve_icon" 
			   aria-hidden="true"></i>	 	
	</div>
	<div class="content__declane"
		 (click)="declane()">
		<i class="fa fa-times content__declane_icon" 
			   aria-hidden="true"></i>	 	
	</div>
	<div class="content__name">
		<input class="content__name_input"
			   type="text"
			   placeholder="Введите название объекта"
			   [(ngModel)]="dataItem.name" />
	</div>
	<div class="data"
		 *ngIf="dataItem.content.length">
		<ng-template ngFor 
					 let-group 
					 [ngForOf]="dataItem.content | orderBy: 'order'" 
					 let-groupId="index">
			<details class="fieldset"
					 *ngIf="group"
					 (mouseenter)="swapGroupOrder($event, group)">
				<summary class="fieldset__name">
					<i class="fa fa-bars fieldset__name_drag" 
					   aria-hidden="true"
					   (mousedown)="dragGroup($event, group)"></i>
					<input class="fieldset__name_input"
						   type="text"
						   placeholder="Введите название группы"
						   [(ngModel)]="group.name" />
					<i class="fa fa-angle-double-down fieldset__name_toggle" 
					   aria-hidden="true"></i>
				</summary>
				<ng-template ngFor 
							 let-field 
							 [ngForOf]="group.fields | orderBy: 'order'" 
							 let-fieldId="index">
					<div *ngIf="field"
						 class="{{field.type}}"
						 (mouseenter)="swapFieldOrder($event, field)">
						<!-- Элементы управления для всех типов полей -->
						<div class="controls">
							<div class="controls__up"
								 (click)="fieldOrderUp(groupId, fieldId)">
								<i class="fa fa-angle-up controls__up_icon" 
							   	   aria-hidden="true"></i>
							</div>
							<div class="controls__drag"
								 (mousedown)="dragField($event, field)">
								<i class="fa fa-bars controls__drag_icon" 
							   	   aria-hidden="true"></i>
							</div>
							<div class="controls__down"
								 (click)="fieldOrderDown(groupId, fieldId)">
								<i class="fa fa-angle-down controls__down_icon" 
							   	   aria-hidden="true"></i>
							</div>
							<div class="controls__delete"
								 (click)="deleteField(groupId, fieldId)">
								<i class="fa fa-trash-o controls__delete_icon" 
							   	   aria-hidden="true"></i>
							</div>
						</div>
						<data-field [field]="field"></data-field>
					</div>
				</ng-template>
				<div class="fieldset__create">
					<div class="fieldset__create_list"
						 [class.visible]="showCreateList">
						<div class="item"
							 (click)="addField(groupId, 'textarea')">
							<i class="fa fa-font" aria-hidden="true"></i>
							<span class="item__name">Описание</span>
						</div>
						<div class="item"
							 (click)="addField(groupId, 'image')">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
							<span class="item__name">Изображение</span>
						</div>
						<div class="item"
							 (click)="addField(groupId, 'date')">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<span class="item__name">Дата</span>
						</div>
						<div class="item"
							 (click)="addField(groupId, 'url')">
							<i class="fa fa-link" aria-hidden="true"></i>
							<span class="item__name">Ссылка</span>
						</div>
						<div class="item"
							 (click)="addField(groupId, 'video')">
							<i class="fa fa-video-camera" aria-hidden="true"></i>
							<span class="item__name">Видео</span>
						</div>
						<div class="item"
							 (click)="addField(groupId, 'audio')">
							<i class="fa fa-headphones" aria-hidden="true"></i>
							<span class="item__name">Аудио</span>
						</div>
					</div>
					<i class="fa fa-plus fieldset__create_icon" 
				   	   aria-hidden="true"
				   	   (click)="showCreateList = !showCreateList"
				   	   [class.opened]="showCreateList"></i>
				</div>
				<div class="fieldset__delete">
					<i class="fa fa-trash-o fieldset__delete_icon" 
				   	   aria-hidden="true"
				   	   (click)="deleteGroup(groupId)"></i>
				</div>
			</details>	
		</ng-template>
	</div>
	<div class="content__controls">
		<div class="content__controls_delete"
			 (click)="deleteData(dataItem)">
			<i class="fa fa-trash-o content__controls_delete_icon" 
		   	   aria-hidden="true"></i>
		</div>	
		<div class="content__controls_create"
			 (click)="addGroup()">
			<i class="fa fa-plus content__controls_create_icon" 
		   	   aria-hidden="true"></i>
		</div>
		<div class="content__controls_parent"
			 (click)="showParentList = !showParentList">
			<i class="fa fa-code-fork content__controls_parent_icon" 
		   	   aria-hidden="true"></i>
		</div>		
		<div class="content__controls_parent_list"
			 [class.visible]="showParentList">
			<span>Выбор родителя</span>
			<select [(ngModel)]="dataItem.parent"
					(change)="showParentList = !showParentList">
				<option value="">Не выбран</option>
				<ng-template ngFor 
							 let-item 
							 [ngForOf]="dataList">
					<option *ngIf="item !== dataItem" [value]="item.id">{{item.name}}</option>
				</ng-template>
			</select>
		</div>
	</div>
</div>