@keyframes dataOpen
	0%
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid #ffffff;
	100%
		width: 80%;
		height: 90%;
		border-radius: 4px;
		top: 5%;
		left: 10%;

:host
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0px 0px 15px rgba(0,0,0,1);
	position: absolute;
	&.fullScreen
		animation: dataOpen 0.3s ease forwards;
		z-index: 100;
		transform: scale(1) !important;
		overflow-y: auto;
		z-index: 999 !important;
		& .backdrop
			border-radius: 0;
			opacity: 0;
			z-index: 0;
		& .content 
			width: 100%;
			height: auto;
			cursor: default;
			padding: 65px 0 100px;
			min-height: calc(100% - 65px - 100px);
		& .data__controls
			display: none;
	&.grabbing
		& .backdrop
			cursor: grabbing;
			cursor: -webkit-grabbing;
	& .backdrop
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: #1f408a;
		color: #fff;
		cursor: pointer;
		position: absolute;
		height: 100%;
		opacity: 1;
		transition: all 0.5s ease-in;
		user-select: none;
		z-index: 3;
		&__name
			font-size: 12px;
			font-weight: 300;
			text-align: center;
			text-overflow: clip;
			overflow-x: hidden;
			overflow-y: hidden;
			max-width: 65px;
			max-height: 65px;
			line-height: 1.3;
		&:hover
			background-color: #3458a7;
		&:focus
		&:active
			background-color: #15306b;
	& .data__controls
		& .icon 
			background-color: #1f408a;
			box-shadow: 0px 0px 15px #000;
			border: 1px solid #fff;
			border-radius: 50%;
			width: 18px;
			height: 18px;
			text-align: center;
			line-height: 16px;
			transition: all 0.3s ease;
			transform: scale(0);
			cursor: pointer;
			z-index: 5;
			&:hover
				background-color: #3458a7;
			&:active
				background-color: #15306b;
			& i
				font-size: 12px;
				color: #fff;
		& .breakConnection
			position: absolute;
			top: -10px;
			left: calc(50% - 10px);
		& .deleteData
			background: #BD001C;
			position: absolute;
			bottom: 0px;
			left: calc(50% - 40px);				
			&:hover
				background-color: #d71733;
			&:active
				background-color: #b20821;
		& .addChild
			position: absolute;
			left: calc(50% - 10px);
			bottom: -10px;
		& .selectParent
			position: absolute;
			bottom: 0px;
			left: calc(50% + 20px);
		& .parentList
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			background-color: #1f408a;
			box-shadow: 0px 0px 15px #000;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 4px;
			padding: 0;
			font-size: 12px;
			font-weight: 100;
			width: 100px;
			z-index: 10;
			right: -33px;
			transform: scale(0);
			transition: transform 0.3s ease;
			position: absolute;
			bottom: -55px;
			flex-direction: column;			
			&.visible
				transform: scale(1); 
			&:after
			&:before
				bottom: 100%;
				right: calc(50% - 6px);
				border: solid transparent;
				content: '';
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				transform: rotate(180deg);
			&:after
				border-color: rgba(136,183,213,0);
				border-top-color: #1f408a;
				border-width: 7px;
				margin-right: 1px;
			&:before
				border-color: rgba(194,225,245,0);
				border-top-color: #fff;
				border-width: 8px;
				margin-left: -8px;
			& span 
				font-size: 11px;
				font-weight: 100;
				text-align: center;
				padding: 5px 0;
			& select 
				border: 1px solid #1f408a;
				border-radius: 4px;
				display: block;
				font-family: Roboto;
				font-size: 12px;
				font-weight: 100;
				margin: 0 5px 5px;
				width: calc(100% - 10px);
				height: 20px;
	& .line 
		display: block;
	& .content 
		display: block;
		height: 0;
		width: 0;
		overflow: hidden;
		position: relative;
		background-color: rgba(255,255,255,0.9);
		&__name
			display: block;
			background-color: #1f408a;
			box-shadow: 0px 0px 15px #000;
			border-bottom: 1px solid #fff;
			z-index: 1;
			position: absolute;
			width: 100%;
			top: 0;
			&_input
				display: block;
				width: 100%;
				border: 0;
				margin: 0;
				background-color: transparent;
				padding: 20px 0;
				font-size: 20px;
				color: #fff;
				font-weight: 100;
				text-align: center;
				&::placeholder
					opacity: 1;
					color: #333;
		&__approve
		&__declane
			position: absolute;
			top: 6px;
			cursor: pointer;
			z-index: 2;
			&_icon
				background-color: #1f408a;
				box-shadow: 0px 0px 15px #000;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				font-size: 30px;
				transition: background-color 0.3s ease;
				&:hover
					background-color: #3458a7;
				&:active
					background-color: #15306b;
		&__approve
			right: 10px;
		&__declane
			left: 10px;
		&__controls
			width: calc(100% - 20px);
			text-align: center;
			padding: 12px 10px;
			position: absolute;
			bottom: 0;
			background-color: #1f408a;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0px 0px 15px #000;
			&_create
				&_icon
					cursor: pointer;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					font-size: 30px;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;	
			&_delete
				&_icon
					cursor: pointer;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					font-size: 30px;
					transition: all 0.3s ease;
					background: #BD001C;
					&:hover
						background-color: #d71733;
						z-index: 1;
					&:active
						background-color: #b20821;
			&_parent
				&_icon
					cursor: pointer;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					font-size: 30px;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;	
				&_list
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					position: absolute;
					bottom: 80px;
					z-index: 1;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 4px;
					padding: 0;
					font-size: 12px;
					font-weight: 100;
					width: 260px;
					transform: scale(0);
					transition: transform 0.3s ease;
					position: absolute;
					right: 10px;
					flex-direction: column;
					&.visible
						transform: scale(1);
					&:after
					&:before
						top: 100%;
						right: 15px;
						border: solid transparent;
						content: '';
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					&:after
						border-color: rgba(136,183,213,0);
						border-top-color: #1f408a;
						border-width: 10px;
						margin-right: 1px;
					&:before
						border-color: rgba(194,225,245,0);
						border-top-color: #fff;
						border-width: 11px;
						margin-left: -11px;
					& span 
						font-size: 16px;
						font-weight: 100;
						padding: 10px 0;
					& input 
					& select
						border: 1px solid #1f408a;
						border-radius: 4px;
						display: block;
						font-family: Roboto;
						font-size: 14px;
						font-weight: 100;
						margin: 0 15px 15px;
					& select
						width: calc(100% - 30px);
						height: 30px;
					& input 
						padding: 8px 10px;
						width: calc(100% - 50px);
		& .fieldset__create
			background-color: #1f408a;
			width: 100%;
			text-align: center;
			padding: 6px 0;
			position: relative;
			margin: 50px 0 0;
			&_icon
				cursor: pointer;
				background-color: #1f408a;
				box-shadow: 0px 0px 15px #000;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 16px;
				transition: all 0.3s ease;
				&:hover
					background-color: #3458a7;
				&:active
					background-color: #15306b;
				&.opened
					transform: rotate(45deg);
			&_list
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				position: absolute;
				left: 50%;
				bottom: 55px;
				z-index: 1;
				background-color: #1f408a;
				box-shadow: 0px 0px 15px #000;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 4px;
				padding: 0;
				font-size: 12px;
				font-weight: 100;
				width: 260px;
				margin-left: -130px;
				transform: scale(0);
				transition: transform 0.3s ease;
				&.visible
					transform: scale(1);
				&:after
				&:before
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: '';
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				&:after
					border-color: rgba(136,183,213,0);
					border-top-color: #1f408a;
					border-width: 10px;
					margin-left: -10px;
				&:before
					border-color: rgba(194,225,245,0);
					border-top-color: #fff;
					border-width: 11px;
					margin-left: -11px;
				& .item 
					display: block;
					width: calc(30% - 10px);
					padding: 10px 5px;
					border-radius: 4px;
					cursor: pointer;
					transition: background-color 0.3s ease;
					&__name
						display: block;
						cursor: pointer;
						padding: 4px 0px;
						transition: background-color 0.3s ease;
					& i 
						font-size: 25px;
						margin: 0 0 5px;
					& span 
						font-size: 10px;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;
		& .fieldset__delete
			text-align: center;
			padding: 6px;
			position: absolute;
			bottom: 0;
			left: 0;
			&_icon
				cursor: pointer;
				background-color: #BD001C;
				box-shadow: 0px 0px 15px #000;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 16px;
				transition: all 0.3s ease;
				&:hover
					background-color: #d71733;
				&:active
					background-color: #b20821;
		& .data
			display: block;
		& .fieldset
			margin: 20px 20px 30px;
			border: 1px solid #fff;
			border-radius: 4px;
			box-shadow: 0px 0px 15px #000;
			outline: none;
			position: relative;
			overflow: hidden;
			&:after
				content: '';
				border-bottom: 1px dashed #1f408a;
				width: 100%;
				height: 1px;
				display: block;
				position: absolute;
				left: 0px;
				margin-top: 15px;
			&:last-child:after
				display: none;
			&__name
				background-color: #1f408a;
				position: relative;
				outline: none;
				&_input
					margin: 0;
					padding: 0;
					border: 0;
					font-family: Roboto;
					font-size: 16px;
					font-weight: 100;
					background: transparent;
					color: #fff;
					width: 100%;
					text-align: center;
					padding: 15px 0;
					&::-webkit-input-placeholder
						color: #fff;
				&::-webkit-details-marker
					display: none;
				&_drag
					position: absolute;
					left: 7px;
					top: 7px;
					font-size: 16px;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 30px;
					cursor: -webkit-grab;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
						cursor: -webkit-grab;
					&:active
						background-color: #15306b;
						cursor: -webkit-grabbing;
				&_toggle
					position: absolute;
					right: 7px;
					top: 7px;
					font-size: 22px;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 32px;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;
			&[open]
				border: 1px solid #1f408a;
				overflow: visible;
				& .fieldset__name_toggle
					transform: scale(1, -1);
			& .empty
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 20px 0;
				flex: 1;
				& i 
					font-size: 80px;
					color: #1f408a;
					transition: color 0.3s ease;
				& span
					font-size: 14px;
					font-weight: 100;
					text-align: center;
					display: block;
					margin: 3px 0 0;
				& input 
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
				&:hover
					& i 
						color: #3458a7;
				&:active
					& i 
						color: #15306b;				
			& .textarea
				display: flex;
				width: 90%;
				margin: 15px auto;
				& textarea
					width: calc(100% - 30px);
					border: 1px solid #1f408a;
					border-left: 0;
					padding: 15px;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 300;
					color: #333;
					border-radius: 0 4px 4px 0;
					outline: none;
					min-height: 80px;
			& .image 
				display: flex;
				width: 90%;
				margin: 15px auto;
				border: 1px solid #1f408a;
				border-left: 0;
				border-radius: 4px;
				overflow: hidden;
				position: relative;
				& img 
					width: calc(100% - 25px);
					height: 100%;
					border-radius: 4px;
				&__change
					position: absolute;
					right: 7px;
					top: 7px;
					font-size: 30px;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					text-align: center;
					line-height: 60px;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;
			& .date 
				width: 90%;
				margin: 15px auto;
				display: flex;
				align-items: center;
				border: 1px solid #1f408a;
				border-left: 0;
				border-radius: 4px;
				& input 
					border: 1px solid #1f408a;
					border-radius: 4px;
					display: block;
					padding: 8px 10px;
					text-align: center;
					font-family: Roboto;
					font-size: 18px;
					font-weight: 100;
					margin: 0 15px;
				&__create
					display: block;
					&_icon 
						cursor: pointer;
						background-color: #1f408a;
						box-shadow: 0px 0px 15px #000;
						border: 1px solid #fff;
						color: #fff;
						border-radius: 50%;
						width: 30px;
						height: 30px;
						text-align: center;
						line-height: 31px;
						font-size: 17px;
						transition: all 0.3s ease;
						&:hover
							background-color: #3458a7;
						&:active
							background-color: #15306b;
			& .url 
				display: flex;
				width: 90%;
				margin: 15px auto;
				flex-wrap: wrap;
				position: relative;
				overflow: hidden;
				border-radius: 4px;
				&__screenshot
					flex: 1 0 99%;
					border: 1px solid #1f408a;
					border-top: 0;
					border-radius: 0 0 4px 4px;
				& input 
					border: 1px solid #1f408a;
					border-radius: 0 4px 0px 0;
					display: block;
					padding: 8px 10px;
					text-align: center;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 300;
					width: calc(100% - 25px);
					flex: 1 0 94%;
					border-left: 0;
				& .controls
					position: absolute;
					top: 0;
					height: 100%;
			& .video
				display: flex;
				border: 1px solid #1f408a;
				border-left: 0;
				border-radius: 4px;
				width: 90%;
				margin: 15px auto;
				overflow: hidden;
				position: relative;
				& video
					width: 100%;
				&__change
					position: absolute;
					right: 7px;
					top: 7px;
					font-size: 30px;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					text-align: center;
					line-height: 60px;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;					
			& .audio
				display: flex;
				border: 1px solid #1f408a;
				border-left: 0;
				border-radius: 4px;
				width: 90%;
				margin: 15px auto;
				overflow: hidden;
				position: relative;
				align-items: flex-end;
				& audio
					width: 100%;
				&__change
					position: absolute;
					right: 7px;
					top: 7px;
					font-size: 30px;
					background-color: #1f408a;
					box-shadow: 0px 0px 15px #000;
					border: 1px solid #fff;
					color: #fff;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					text-align: center;
					line-height: 60px;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover
						background-color: #3458a7;
					&:active
						background-color: #15306b;					
			& .controls
				border-right: 0;
				border-radius: 4px 0 0 4px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				background: #1f408a;
				overflow: hidden;
				flex: 1 0 25px;
				position: relative;
				max-width: 25px;
				min-height: 100px;
				z-index: 1;
				align-self: stretch;
				&__drag
					padding: 4px 6px;
					cursor: pointer;
					background: #1f408a;
					box-shadow: 0px 0px 15px #000;
					cursor: -webkit-grab;
					&:hover
						background-color: #3458a7;
						z-index: 1;
					&:active
						cursor: -webkit-grabbing;
						background-color: #15306b;
					&_icon
						color: #fff;
						font-size: 15px;
				&__delete
					padding: 4px 7px;
					cursor: pointer;
					box-shadow: 0px 0px 15px #000;
					position: absolute;
					bottom: 0;
					background: #BD001C;
					transition: background 0.3s ease;
					&:hover
						background-color: #d71733;
						z-index: 1;
					&:active
						background-color: #b20821;
					&_icon
						color: #fff;
						font-size: 16px;
				&__up
				&__down
					padding: 4px 7px;
					cursor: pointer;
					background: #1f408a;
					box-shadow: 0px 0px 15px #000;
					text-align: center;
					&:hover
						background-color: #3458a7;
						z-index: 1;
					&:active
						background-color: #15306b;
					&_icon
						color: #fff;
						font-size: 15px;
	&:hover
		.data__controls
			.icon
				transform: scale(1);
	&:active
		z-index: 0;