<div class="marker"
	 (click)="toggleVisibility()"
	 [class.close]="visibility"
	 *ngIf="userService.isAuth()">
	<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	<span>А - Я</span>
</div>
<div class="container">
	<div class="title">Алфавитный указатель</div>
	<div class="index">
		<a href="#" class="letter">
			<span class="letter__label">А</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Арбуз</span>
				</li>
				<li>
					<span>Англия</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Б</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Баклажан</span>
				</li>
				<li>
					<span>Бюрократ</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">В</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Венера</span>
				</li>
				<li>
					<span>Война</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Г</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Город</span>
				</li>
				<li>
					<span>Гагарин</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Д</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Дания</span>
				</li>
				<li>
					<span>Дом</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Е</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Енисей</span>
				</li>
				<li>
					<span>Ель</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ё</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Ёжик</span>
				</li>
				<li>
					<span>Ёрш</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ж</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Жена</span>
				</li>
				<li>
					<span>Жизнь</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">З</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Зола</span>
				</li>
				<li>
					<span>Зима</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">И</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Иордан</span>
				</li>
				<li>
					<span>Ишак</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Й</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Йошкорола</span>
				</li>
				<li>
					<span>...</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">К</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Король</span>
				</li>
				<li>
					<span>Крыло</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Л</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Лось</span>
				</li>
				<li>
					<span>Лес</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">М</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Мороз</span>
				</li>
				<li>
					<span>Мина</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Н</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Нос</span>
				</li>
				<li>
					<span>Нора</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">О</span>
			<ul class="letter__сoncurrences">
				<li>
					<span>Олень</span>
				</li>
				<li>
					<span>Обзор</span>
				</li>
				<li>
					<span>...</span>
				</li>
			</ul>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">П</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Р</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">С</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Т</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">У</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ф</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Х</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ц</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ч</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ш</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Щ</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ъ</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ы</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ь</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Э</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Ю</span>
		</a>
		<a href="#" class="letter">
			<span class="letter__label">Я</span>
		</a>
	</div>
	<div class="copyright">
		<span class="copyright__project">MindAssistant</span>
		<span class="copyright__sign">&copy;</span>
		<time class="time" 
			  datetime="2017">
			2017
		</time>
	</div>
</div>