@import '../themes/*.styl'
@import '../mixins/*.styl'

body 
    font-family: Roboto;
.row
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: stretch;
.toolbar
    box-shadow(shadow.normal);
    background-color: color.blue.normal;
    color: color.white;
    border: border.white.solid;