absolute(t, r, b, l)
    position: absolute;
    top: t;
    right: r;
    bottom: b;
    left: l;

fixed(t, r, b, l)
    position: fixed;
    top: t;
    right: r;
    bottom: b;
    left: l;

relative(t, r, b, l)
    position: relative;
    top: t;
    right: r;
    bottom: b;
    left: l;