:host
	z-index: 100;
	header
		background-color: #1f408a;
		display: block;
		box-shadow: 0px 0px 15px #000;
		border-bottom: 1px solid #fff;
		color: #fff;
		// position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		transition: top 0.3s ease;
		&:hover
			& .settings
			& .account
			& .help
				padding: 12px 20px;
				&__icon
					font-size: 40px;
				&__title
					margin: 8px 0 0;
	& .container
		display: block;
	& .row
		display: flex;
		justify-content: space-between;
		overflow-y: hidden;
	& .logo
		display: flex;
		align-items: center;
		padding: 0 20px;
		color: #fff;
		text-decoration: none;
		transition: background-color 0.3s ease;
		&:hover
			background-color: #3458a7;
		&:active
			background-color: #15306b;
		&__image
			font-size: 23px;
			font-weight: 100;
			margin: 0 5px 0 0;
		&__version
			font-size: 8px;
			font-weight: 100;
			border: 1px solid #fff;
			padding: 2px 4px;
			border-radius: 4px;
			position: relative;
			top: -6px;
	& .search
		display: flex;
		align-items: center;
		flex: 1 1 100%;
		padding: 5px 5%;
		&__group
			display: flex;
			width: 100%;
			box-shadow: 0px 0px 15px #000;
		&__input
			border: 0;
			padding: 10px;
			width: 100%;
			color: #333;
			font-size: 12px;
			border-radius: 4px 0 0 4px;
		&__button
			border-radius: 0 4px 4px 0;
			background-color: #1f408a;
			color: #fff;
			border: 1px solid #fff;
			font-size: 12px;
			font-weight: 100;
			padding: 0px 50px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			&:hover
				background-color: #3458a7;
			&:active
				background-color: #15306b;
	& .settings
	& .account
	& .help
		text-align: center;
		padding: 0 20px;
		cursor: pointer;
		box-shadow: 0px 0px 15px #000;
		transition: background-color 0.3s ease;
		user-select: none;
		background-color: #1f408a;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: padding 0.3s ease;
		&:hover
			background-color: #3458a7;
			z-index: 1;
		&:active
			background-color: #15306b;
		&__icon
			font-size: 0px;
			transition: font-size 0.3s ease;
		&__title
			display: block;
			font-size: 10px;
			margin: 0;
			font-weight: 100;
			transition: margin 0.3s ease;
	& .close
		height: 25px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		box-shadow: 0px 0px 15px #000;
		&__icon
			font-size: 20px;
			transform: rotate(90deg);
		&:hover
			background-color: #3458a7;
		&:active
			background-color: #15306b;	