<!-- <div class="container"
	 [class.fullScreen]="fullScreen">
	<div class="backdrop"
		 (click)="toggleFullScreen()">
		<div class="backdrop__name">{{name}}</div>
	</div>
	<div class="content">
		<div class="content__close"
			 (click)="toggleFullScreen()">
			<i class="fa fa-check content__close_icon" 
				   aria-hidden="true"></i>	 	
		</div>
		<div class="content__name">
			<input class="content__name_input"
				   type="text"
				   placeholder="Введите название объекта"
				   value="{{name}}" />
		</div>
		<div class="content__create">
			<i class="fa fa-plus content__create_icon" 
		   	   aria-hidden="true"
		   	   (click)="create()"></i>
		</div>
	</div>
</div> -->