@import "../../../assets/stylus/export.styl"

:host 
    & .registration
        box-shadow(shadow.normal);
        border-radius(radius.normal);
        border: border.white.solid;
        margin: -24px;
        width: 600px;
        &__toolbar
            @extend .toolbar;
            border-radius(radius.normal-bottom);
            padding: 24px;
            &_title
                font-size: font.extra-big;
                font-weight: 300;
                display: block;
                text-align: center;
            &_back
                width: 50px;
                height: 50px;
                left: 24px;
                top: 12px;
                position: absolute;            
                &-icon
                    @extend .icon-blue;
                    text-indent: -5px;
        &__elements
            padding: 24px;
            &_label
                @extend .label;
            &_input
                @extend .input;
        &__buttons
            @extend .toolbar;
            border-radius(radius.normal-top);
            padding: 12px 24px;
            display: flex;
            justify-content: space-between;        
            &_approve
                @extend .button-blue;
            &_close
                @extend .button-red;
        & .row
            padding: 10px 0;
            align-items: stretch;